.dial {
	fill: none;
	stroke: grey;
	stroke-width: 8pt;
	fill: white;
}

.ticks {
	stroke: grey;
	stroke-width: 7pt;
}

.hand {
	stroke: red;
	stroke-width: 4pt;
}

.chasehand {
	stroke: green;
	stroke-width: 4pt;
}

.speedo {
	font-family: sans-serif;
	font-size: 80pt;
	font-weight: bolder;
}

.timer {
	font-family: sans-serif;
	font-size: 80pt;
	font-weight: bolder;
}

.lap {
	font-family: sans-serif;
}

body {
}
